extends layout

block content
  .jumbotron.background_green.space_margin
    h1 📦 Design System
    p Welcome to #{title}
  .jumbotron.background_green.space2_top_margin.space_right_margin.space_left_margin
    h1 📦 Design System
    p Welcome to #{title}
